.history-pane {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;

    height: 100%;
}

.restart-label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.turn-bin {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}